/* .movie-card {
    height: 400px; 
} */

.card-img-top {
    height: 200px;
    object-fit: cover;
}


img, svg {
    vertical-align: baseline;
    height: 250px;
    object-fit: cover;
}

.movie-card {
   height: 200px;  
   object-fit: cover; 
}
h6 {
  font-family: 'Bebas Neue', serif;
}

.card-title {
    font-size: 24px; 
  }  
  .card-text {
    letter-spacing: 1px;
    line-height: 1.5; 
  }


body {
  font-family: 'Frank Ruhl Libre', serif;  
  background-color: honeydew;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', serif;
}