$color: steelblue;
$primary: honeydew;
$card-height: 200px;

body {
  font-family: 'Frank Ruhl Libre', serif;  
  background-color: $primary;
  margin: 0;
  padding: 20px; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', serif;
  margin-top: 20px; 
}

.my-flix {
  color: $color;
}

.back-button, .btn {
  padding: 10px 20px;
  color:whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  margin: 10px 5px;
  width: auto;
  height: 60px;
  transition: background-color 0.3s ease;

   &:hover {
    background-color: darken($color, 10%); 
  }
}

.back-button {
  color: whitesmoke;
  background-color: $color;
}

.card-img, .movieCard img, .moviePoster, .Card.moviePoster {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
}